h1 { display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 70px 0px 0px 0px;
	color: black;
	font-size: 3rem;
	font-family: fantasy;
	border: 2px solid black;
	padding: 0px 50px 0px 50px;
}
body {

	background-repeat: no-repeat;
	background-size: cover;
		display: center;

}

.introducing p {
	color: black;
	text-align: center;
	margin: 20px 0px;
	font-family: fantasy;
	font-size: 120%;
	


}

.pic  img{
	width: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid black;
	border-radius: 16px;

}

.pic img:hover {
	width: 300px;
}

.latogato p { font-size: 150%;
 }
.contact div:hover {
	font-size: 150%;
	}

